In [36]:
import pandas as pd
import numpy as np

# Set seed untuk hasil reproducible
np.random.seed(42)

# Jumlah data
n = 1000

# Generate data
data = pd.DataFrame({
    'Usia': np.random.randint(18, 65, size=n),
    'Jenis_kelamin': np.random.choice(['Laki_Laki', 'Perempuan'], size=n),
    'Penghasilan': np.random.normal(5000000, 500000, size=n).astype(int),
    'Pendidikan_Terakhir': np.random.choice(['SMA', 'S1', 'S2', 'S3'], size=n),
    'Status': np.random.choice(['Jomblo', 'Menikah', 'Cerai'], size=n),
    'Status_Pekerjaan': np.random.choice(['Bekerja', 'Tidak_Bekerja', 'Siswa'], size=n),
    'Jumlah_pinjaman': np.abs(np.random.normal(10000000, 30000000, size=n).astype(int)),
    'Jenis_pinjaman': np.random.choice(['KPR', 'Kendaraan', 'Konsumtif', 'Modal_Usaha'], size=n),
    'Kunjungan_Website': np.random.poisson(5, size=n),
    'Hasil': np.random.choice(['Disetujui','Ditolak'], size=n)  # Target untuk klasifikasi
})

data.head()
data.to_csv('PinjamanBank.csv',index=False)

In [26]:
# Informasi dasar tentang dataset
data.info()

# Statistik deskriptif untuk kolom numerik
data.describe()

# Distribusi data untuk kolom kategorikal
for kolom in ['Usia', 'Pendidikan_Terakhir', 'Status', 'Status_Pekerjaan', 'Jenis_pinjaman']:
    print(f"\nDistribusi kolom {kolom}:\n", data[kolom].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Usia                 1000 non-null   int32
 1   Jenis_kelamin        1000 non-null   object
 2   Penghasilan          1000 non-null   int32
 3   Pendidikan_Terakhir  1000 non-null   object
 4   Status               1000 non-null   object
 5   Status_Pekerjaan     1000 non-null   object
 6   Jumlah_pinjaman      1000 non-null   int32
 7   Jenis_pinjaman       1000 non-null   object
 8   Kunjungan_Website    1000 non-null   int32
 9   Hasil                1000 non-null   object
dtypes: int32(4), object(6)
memory usage: 62.6+ KB

Distribusi kolom Usia:
 Usia
43    33
45    30
50    30
52    28
54    27
64    27
49    25
22    25
18    25
62    25
56    25
41    25
42    24
20    24
40    24
19    24
61    23
25    23
23    23
53    23
29    22
34    22
39    22
47    21
33    21
36    20
28    20
46    19
38    19
21    19
31    19
51    18
27    18
58    18
37    18
26    18
30    18
32    18
59    17
57    17
35    16
48    16
44    16
55    16
24    14
63    13
60    12
Name: count, dtype: int64

Distribusi kolom Pendidikan_Terakhir:
 Pendidikan_Terakhir
SMA    266
S3     250
S2     248
S1     236
Name: count, dtype: int64

Distribusi kolom Status:
 Status
Cerai      345
Menikah    330
Jomblo     325
Name: count, dtype: int64

Distribusi kolom Status_Pekerjaan:
 Status_Pekerjaan
Siswa            345
Tidak_Bekerja    337
Bekerja          318
Name: count, dtype: int64

Distribusi kolom Jenis_pinjaman:
 Jenis_pinjaman
Kendaraan      271
KPR            264
Konsumtif      240
Modal_Usaha    225
Name: count, dtype: int64